@use '../global';

.aboutContainer{
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 1rem 0 2rem 3rem;

    overflow-x: hidden;


    h3{
        font-size: 1.7rem;
        color: var(--blue-text);
        width: 70rem;
        margin: 1rem auto;
    }
    p{
        width: 60rem;
        color: var(--black-text);
        font-size: 1.5rem;
        line-height: 1.6;

    }
}

@media (max-width: 768px){

    .aboutContainer{
        max-width: 60rem;
        font-size: 1rem;

        h3{
            font-size: 1.2rem;
        }
        p{
            width: 50rem;
            font-size: 1.2rem;
        }
    }

}

@media (max-width: 425px){
    .aboutContainer{
        max-width: 40rem;
        width:100vw;
        margin:0 auto;
        padding: .5rem;

        h3{
            width: 40rem;
            font-size: 1.2rem;
        }

        p{
            width: 20rem;
            font-size: .875rem;
            margin: 0 auto;
        }
    }
}