.app-container{
    max-width: 70rem;
    margin: 0 auto;
    overflow-x: hidden;

    
    .infoContainer{
        
        border-bottom: 2px solid var(--blue-text);

    }
}

@media (max-width: 768px){
    .app-container{
        grid-template-columns: 1fr;
    }
}